<mat-toolbar>
  <mat-toolbar-row>
    <nav>
      <button mat-button [matMenuTriggerFor]="menMenu" #menuTrigger="matMenuTrigger"
      (mouseenter)="openMenu()">Homem</button>
      <mat-menu #menMenu="matMenu" [hasBackdrop]="false">
          <div class="menu-items" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
              <button mat-menu-item>Casacos</button>
              <button mat-menu-item>Camisas</button>
              <button mat-menu-item>Calças</button>
              <button mat-menu-item>Sweatshirts</button>
              <button mat-menu-item>Polos</button>
              <button mat-menu-item>Sapatos</button>
              <button routerLink="/product" routerLinkActive="activa" mat-menu-item>Todos</button>
            </div>
      </mat-menu>
      <span>|</span>
      <button mat-button [matMenuTriggerFor]="womenMenu">Mulher</button>
      <mat-menu #womenMenu="matMenu">
      </mat-menu>
      <a routerLink="/home" routerLinkActive="activa" class="logo">
          <img src="logo.png" alt="Logo">
      </a>
      <button mat-button [matMenuTriggerFor]="childMenu">Criança</button>
      <mat-menu #childMenu="matMenu">
      </mat-menu>
      <span>|</span>
      <button mat-button [matMenuTriggerFor]="accessoriesMenu">Acessórios</button>
      <mat-menu #accessoriesMenu="matMenu">
      </mat-menu>
    </nav>

    <div class="user-actions">
      <ng-container *ngIf="loggedUser$ | async as user; else loggedOut">
        <p id="welcomeMessage">Bem vindo(a), {{ user?.nome }}</p>
        <button mat-icon-button aria-label="list_alt">
          <mat-icon>list_alt</mat-icon>
        </button>
        <button mat-icon-button aria-label="User">
          <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button aria-label="Logout" (click)="openLogoutModal()">
          <mat-icon>logout</mat-icon>
        </button>
      </ng-container>
    
      <ng-template #loggedOut>
        <button mat-icon-button aria-label="Person Add">
          <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button aria-label="Login" (click)="openLoginModal()">
          <mat-icon>login</mat-icon>
        </button>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

