.wishlist-header {
  text-align: center; 
}
.wishlist-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'a b c';
}

.wishlist-grid {
  grid-area: b;
  display: grid;
  gap: 1.5rem;
  width: 650px;

  .wishlist-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'a b c';
    align-items: center;
    gap: 30px;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  :host {
    width: 100%;
  }
  .wishlist-container {
    grid-template-columns: 1fr;    
  }

  .wishlist-grid {
    width: 100%;               
    
    .wishlist-item {
      grid-template-columns: 1fr;  
      grid-template-areas: 
        'a'
        'b'
        'c';
      gap: 15px;  
    }
  }
}

