<div class="carousel-container">
  <div class="fixed-carousel-text">saldos</div>
  <div class="carousel-content" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
    <div class="carousel-slide" *ngFor="let image of images">
      <img [src]="image.image" alt="Carousel image">
    </div>
  </div>
  
  <div class="carousel-indicators">
    <button mat-icon-button *ngFor="let image of images; let i = index" 
            [class.active]="i === currentIndex"
            (click)="setCurrentSlide(i)">
      <mat-icon>fiber_manual_record</mat-icon>
    </button>
  </div>
</div>