<section class="modalLogIn">
    <form [formGroup]="modalForm" class="logInForm" action="">
        <span id="closeButton">X</span>
        <h4 id="loginHeader">Controlo de acessos</h4>
        <p id="email">
            <label for="emailInput">E-mail:</label>
            <input type="email" id="emailInput" name="emailInput" formControlName="emailInput">
        </p>
        <p id="password">
            <label for="passwordInput">Senha:</label>
            <input type="password" id="passwordInput" name="passwordInput" formControlName="passwordInput">
        </p>
        <p class="validation">
            <input type="button" id="validationButton" value="Validar">
        </p>
    </form>
</section>
